.btn {
  background-color: var(--c-cyan);
  border: none;
  border-radius: 30px;
  color: var(--c-white);
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  padding: 20px;
  text-align: center;
  text-decoration: none;
}
