.main-menu {
  &__btn {
    color: var(--c-grayish-violet);
    cursor: pointer;
    font-size: 2rem;
  }

  &__container {
    align-items: center;
    background-color: var(--c-dark-violet);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    left: 0;
    margin: 20px auto 0;
    max-width: 370px;
    padding: 20px;
    position: absolute;
    right: 0;
    width: calc(90% - 40px);
    z-index: 100;
  }

  &__item {
    color: var(--c-gray);
    cursor: pointer;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    width: 100%;
  }
}
