.shorten-form {
  &__input {
    border: 3px solid transparent;
    margin-bottom: 30px;

    &-error {
      border: 3px solid var(--c-red);
      margin-bottom: 0;

      &::-webkit-input-placeholder {
        color: var(--c-red);
      }

      &::-moz-placeholder {
        color: var(--c-red);
      }

      &:-ms-input-placeholder {
        color: var(--c-red);
      }

      &:-moz-placeholder {
        color: var(--c-red);
      }
    }

    &-text {
      color: var(--c-red);
      font-style: italic;
      margin: 5px 0 30px;
    }
  }
}
