.shorten-form {
  background-color: var(--c-dark-violet);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 65%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 60px;
  max-width: calc(90% - 60px);
  padding: 30px;
  position: relative;
  z-index: 5;

  &__input {
    border: 3px solid transparent;
    margin-bottom: 30px;

    &-error {
      border: 3px solid var(--c-red);
      margin-bottom: 0;

      &::-webkit-input-placeholder {
        color: var(--c-red);
      }

      &::-moz-placeholder {
        color: var(--c-red);
      }

      &:-ms-input-placeholder {
        color: var(--c-red);
      }

      &:-moz-placeholder {
        color: var(--c-red);
      }
    }

    &-text {
      color: var(--c-red);
      font-style: italic;
      margin: 5px 0 30px;
    }
  }
}
