.home {
  overflow-x: clip;

  &__image {
    position: relative;
    right: -27%;
  }
}

.get-started {
  margin: 0 auto 60px;
  max-width: 90%;
  text-align: center;

  &__title {
    font-size: 2em;
    margin-bottom: 20px;
  }

  &__description {
    color: var(--c-grayish-violet);
  }

  &__btn {
    min-width: 220px;
  }
}

.advanced-statistics {
  margin: 0 auto 60px;
  max-width: 90%;
  text-align: center;

  &__title {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  &__description {
    color: var(--c-grayish-violet);
  }
}
