.home {
  overflow-x: clip;

  &__image {
    position: relative;
    right: -27%;
  }
}

.get-started {
  margin: 0 auto 60px;
  max-width: 90%;
  text-align: center;

  &__title {
    font-size: 2em;
    margin-bottom: 20px;
  }

  &__description {
    color: var(--c-grayish-violet);
    line-height: 1.8;
  }

  &__btn {
    min-width: 220px;
  }
}

.secondary-content {
  background-color: var(--c-gray-violet);
  margin-top: -162px;
  padding: 125px 0 40px;
}

.advanced-statistics {
  margin: 0 auto 60px;
  max-width: 90%;
  text-align: center;

  &__title {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  &__description {
    color: var(--c-grayish-violet);
    font-size: 1.2em;
    line-height: 1.8;
  }
}
