:root {
  --f-primary: 'Poppins';
  --f-size: 18px;
  --c-cyan: hsl(180deg 66% 49%);
  --c-dark-violet: hsl(257deg 27% 26%);
  --c-red: hsl(0deg 87% 67%);
  --c-gray-violet: hsl(225deg 33.3% 95.3%);
  --c-gray: hsl(0deg 0% 75%);
  --c-grayish-violet: hsl(257deg 7% 63%);
  --c-very-dark-blue: hsl(255deg 11% 22%);
  --c-very-dark-violet: hsl(260deg 8% 14%);
  --c-white: #fff;
}

// Breakpoints
$b-small: 576px;
$b-medium: 768px;
$b-x-large: 1200px;
